* {
  margin: 0;
  padding: 0;
}

body {
  font-size:90%;
  font-family: verdana, sans-serif;
  width: 780px;
  margin: auto;
  text-align: center;
  background-color: #BAD1EC;
}

#wrap {
  text-align: left;
  background-color: #ffffff;
  padding: 8px;
  border: solid black 1px;
}

ol.demolist {
  margin-top: 8px;
  list-style-type: none;
  width: 750px;
}

ol.demolist li h2 {
  margin-top: 24px;
  border-bottom: 1px solid silver;
}

ol.demolist li ol li {
  border: solid #DDDDDD 1px;
  background-color: #f2f2f2;
  margin: 8px;
  display: -moz-inline-stack;
  display: inline-block;
  width: 350px;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}

ol.demolist li ol li p {
  font-size: 90%;
}

h2 {
  font-size: 100%;
}