table.speciesCheckList {
  border-collapse: collapse;
}

table.speciesCheckList thead {
  border: 1px solid #666666;
  background-color: #c7c7d7;
}

table.speciesCheckList .scTaxonCell {
  background-color: #d7d7e7;
  border-right: solid 1px #666666;
}

table.speciesCheckList tr {
  border: 1px solid #666666;
}

table.speciesCheckList td, table.speciesCheckList th {
  padding: 0 6px 0 6px;
}

#place_search_box {
  border: solid grey 1px;
  background-color: #e7e7e7;
  padding: 1em;
  margin-left: 1em;
  font-size: 90%;
}

#place_search_output p {
  padding-bottom: 0;
}


#place_search_output ol  {
  list-style-type: none;
  padding-left: 2em;
  padding-bottom: 1em;
}

#place_close_button {
  border: solid grey 1px;
  background-color: #eeeeee;
  padding: 0.5em;
}

#place_search_button {
  width: auto;
}

#ui-datepicker-div {
  z-index: 2000;
}

.inline-error {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  margin-left: 0.3em;
}

.error_message {
  font-weight: bold;
}

.success {
  border: dashed blue 1px;
  background-color: #CCCCFF;
  width: auto;
  margin: 12px;
  padding: 12px;
}

label {
  width: 160px;
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  vertical-align: top;
  margin: 4px 0 4px 0;
}

input, select, textarea {
  vertical-align: top;
  margin: 4px 0 4px 0;
}

.auto {
  width: auto
}