form fieldset {
  border: none;
  margin-bottom: 10px;
  border: solid 1px #AAAAAA;
  -moz-border-radius: 4px; -webkit-border-radius: 4px;
  padding: 0.5em;
}

form * {
  vertical-align: middle;
  line-height: 1.8em;
}

legend {
  font-weight: bold;
  padding: 0.25em;
}

form .helpText {
  margin-left: 164px;
  color: #aaaaaa;
  line-height: 1em;
}

form label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
  width: 160px;
}
/* Allow increase of label width for some forms or individual labels */
form.widelabels label, form label.wide {
  width: 300px;
}

.form-notice {
  padding: 0.3em;
  margin-left: 120px;
  margin-bottom: 0.5em;
  display: block;
}

form.cmxform fieldset ol {
  margin: 0;
  padding: 0;
}
form.cmxform fieldset li {
  list-style: none;
  padding: 5px;
  margin: 0;
}
form.cmxform fieldset fieldset {
  border: none;
  margin: 3px 0 0;
}
form.cmxform fieldset fieldset legend {
  padding: 0 0 5px;
  font-weight: normal;
}
form.cmxform em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}

form.cmxform fieldset textarea {
  width: 520px;
}
form.cmxform fieldset input, form.cmxform select {
  width: 300px;
}

form.cmxform fieldset input.narrow {
  width: 150px;
}

form.cmxform fieldset input.vnarrow {
  width: 50px;
}

form.cmxform fieldset input.wide {
  width: 600px;
}

form.cmxform fieldset input.default {
  width: auto;
}

form.cmxform fieldset select.narrow {
  width: 150px;
}
