.scTaxonCell {
  padding-right: 1em;
}

.species-grid input, .species-grid select {
  width: 95%;
  margin: 0;
}

.species-grid td {
  padding: 4px;
}

.scPresenceCell {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

.ui-widget-header th {
  padding: 0.2em;
}

#imp-georef-output-div ol  {
  list-style-type: none;
  padding-left: 3em;
  padding-bottom: 1em;
}

#ui-datepicker-div {
  z-index: 2000;
}

.inline-error {
	color: red;
	width: auto;
	margin-left: 1em;
}

.deh-required {
  color: red;
}

p.inline-error {
  margin-left: 160px;	
  margin-bottom: -0.8em;
  margin-top: 0em;  
}

.validation-icon {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  margin: 4px;
}

.error_message {
  font-weight: bold;
}

label {
  width: 160px;
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  vertical-align: top;
  margin: 4px 0 4px 0;
}

input, select, textarea, #form-params textarea, .timeEntry_control {
  vertical-align: top;
  margin: 4px 0 4px 0;
  display: inline; 
}

a {
  cursor: pointer;
}

.control-width-0 {
	width: 25px !important;
}

.control-width-1 {
	width: 50px !important;
}

.control-width-2 {
	width: 100px !important;
}

.control-width-3 {
	width: 150px !important;
}

.control-width-4 {
	width: 200px !important;
}

.control-width-5 {
	width: 300px !important;
}

.control-width-6 {
  width: 500px !important;
}

.auto {
  width: auto
}

.loading-panel {
	text-align: center;
	vertical-align: middle;
	padding: 2em;
	width: 200px;
	margin: 5em auto 0 auto;
}

.loading-panel img {
  margin-right: 2em;
  vertical-align: middle;
}

.page-notice {
  margin-bottom: 1em;
  padding: 0.3em;
  display: block;
}

.page-notice p {
  margin: 0.5em 1.5em 0.5em 1.5em;
}

.page-notice span.ui-icon {
  float: left;
}

.flickr-panel {
  padding: 0.5em;
}

.photo {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  margin: 1em;
  padding: 0.5em;
  vertical-align: top;
}

.photo > .ui-widget-header {
  padding: 0.2em;
  margin-bottom: 0.2em;
}

.photo img {
  display: block;
}

.photo p {
  text-align: center;
}

.photo label {
  margin-bottom: 0px;
}

.photo input {
  margin-top: 0px;
}

.indicia-button {
  padding: 0 0.3em;
  margin: 0em 0.3em;
  min-height: 23px;
  text-decoration: none;
  width: auto;
  display:inline-block;
  zoom:1;
  *display:inline;
  line-height: 1.75em;
  cursor: pointer;
}

.action-button {
  margin-bottom: 4px;
}

.indicia-button span {
  float: left;
  vertical-align: middle;
  position: relative;
}

.indicia-button .ui-icon {
  margin: 2px 4px 0px 4px;
}

.buttons {
	padding: 8px;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

.centre {
  text-align: center;
}

#f-dosearch {
  margin: 3px 2em 0 1px;
}

.f-photo p {
  float: left;
}

.f-photo button {
  margin-top: 5px;
  float: right;
}

.wide {
  width: 500px;
}

.nobreak {
  white-space: nowrap;
}

li.ui-state-error {
	margin: 0.5em;
} 

.loading-hide {
  left:-999em; position: absolute;
}

#imp-georef-div {
	margin-bottom: 1em;
	padding: 0.5em;
}

.control-box {
  display:inline-block;
  zoom:1;
  *display:inline;
}

.control-box span {
  margin-left: 1em;
  margin-top: 2px;
}

.control-box span  * {
  margin-left: 1em;
  vertical-align: middle;
}

.control-box label {
  width: auto;
}

.tree-browser {
  padding: 0.5em;
  display:inline-block;
  zoom:1;
  *display:inline;
  min-width: 400px;
  min-height: 100px;
}

.tree-browser li {
	padding: 0.25em;  
  display:inline-block;
  zoom:1;
  *display:inline;
}

.olMap img {
  border: none !important;
}

.helpText, .helpTextLeft {
  color:gray;
  font-size:80%;
  margin:-4px 0 8px 0px;
}

.helpText {
  margin-left: 164px;
}


.progress {
  width: 100%;
}

.progress  * {
  vertical-align: middle;
}

.plupload input {
  cursor: pointer;
}

.plupload_iframe input {
  margin: 0;
}

.ui-widget-header th {
  padding-right: 16px;
}

.ui-widget-header th.asc {
  background: url(../images/asc.gif) no-repeat right;
}

.ui-widget-header th.desc {
  background: url(../images/desc.gif) no-repeat right;
}

tr.odd {
  background-color: #eeeeee;
}

.report-grid .ui-widget td {
  padding: 0 0.3em;
}

.remove-row {
  cursor: pointer;
  width: 8px;
}

.ui-tabs .ui-tabs-nav li {
  list-style-type: none;
}

.add-image-select-species {
  font-style: italic;
}

.heading-option {
  font-weight: bold;
}

.sub-option {
  margin-left: 1em;
}

.layer-list {
  width: 300px;
  border: dotted 1px;
  line-height: 20px;
  padding: 0.5em;
}

.layer-list img {
  margin: 0px;
  border: none;
  margin-right: 1em;
}

.layer-list input {
  margin-right: 1em;
}

.layer-list ul li {
  list-style: none;
  background: none;
}

.layer-list ul li * {
  vertical-align: middle;
}

.layer-list ul li div {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: none 1px;
  margin-right: 1em;
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}

.linear-form * {
  vertical-align: middle;
  width: auto;
  margin-left: 0;
}

.jqplot-table-legend {
  width: auto;
}

.pager-button {
  border: solid grey 1px;
  padding: 2px;
  background-color: #ccc;
}

tfoot {
  background-color: #eee;
}

tfoot td div{
  padding: 2px 4px;
}

#map-toolbar-outer .olControlEditingToolbar, #map-toolbar-outer label {
  width: auto;
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}

#map-toolbar-outer  * {
  vertical-align: middle;
}

.no-border {
  border: none;
  margin: 0;
  padding: 0;
}

.report-picker-container {  
  height: 200px;
  width:  700px;
}

.report-picker-container > ul {
  float: left;
  width: 59%;
  height: 100%;
  overflow: scroll;
}

.report-picker-container > div {
  float: right;
  width: 40%
}

.report-picker-container input, .report-picker-container label {
  vertical-align: middle;
  white-space: nowrap;
}

.report-picker-container input {
  margin-right: 0.2em;
}

.report-picker-container ul li {
  padding-top: 0;
  padding-bottom: 0;
}

.report-picker-container li.expandable, .report-picker-container li.collapsable {
  font-weight: bold;
  line-height: 14px;
  padding-bottom: 2px;
}

div.olControlEditingToolbar div {
  background-image: url("../images/map-toolbar.png");
  width: 24px;
  height: 22px;
  margin: 5px 2px;
}

div.olControlEditingToolbar .olControlNavigationItemInactive {
  background-position: 0px 0px;
}

div.olControlEditingToolbar .olControlNavigationItemActive {
  background-position: 0px -23px;
}

div.olControlEditingToolbar .olControlDrawFeaturePolygonItemInactive {
    background-position: -25px 0px;
}

div.olControlEditingToolbar .olControlDrawFeaturePolygonItemActive {
    background-position: -25px -23px;
}

div.olControlEditingToolbar .olControlDrawFeaturePathItemInactive {
    background-position: -50px 0px;
}

div.olControlEditingToolbar .olControlDrawFeaturePathItemActive {
    background-position: -50px -23px;
}

div.olControlEditingToolbar .olControlDrawFeaturePointItemInactive {
    background-position: -75px 0px;
}

div.olControlEditingToolbar .olControlDrawFeaturePointItemActive {
    background-position: -75px -23px;
}

div.olControlEditingToolbar .olControlSelectFeatureItemInactive {
    background-position: -100px 0px;
}

div.olControlEditingToolbar .olControlSelectFeatureItemActive {
    background-position: -100px -23px;
}

div.olControlEditingToolbar .olControlModifyFeatureItemInactive {
    background-position: -125px 0px;
}

div.olControlEditingToolbar .olControlModifyFeatureItemActive {
    background-position: -125px -23px;
}

div.olControlEditingToolbar .olControlClearLayerItemInactive {
    background-position: -150px 0px;
}

div.olControlEditingToolbar .olControlClearLayerItemActive {
    background-position: -150px -23px;
}

div.olControlEditingToolbar .olControlClickSrefItemInactive {
    background-position: -175px 0px;
}

div.olControlEditingToolbar .olControlClickSrefItemActive {
    background-position: -175px -23px;
}

.delete-file {
  float: right;
}

.filter-row {
  background: #ffffff;
}

.filter-row th {
  padding: 0;
}

.filter-row input {
  margin: 0;
  width: 100%;
  /* Ensure padding of input does not mess up 100% width */
  box-sizing: border-box; /* css3 rec */
  -moz-box-sizing: border-box; /* ff2 */
  -ms-box-sizing: border-box; /* ie8 */
  -webkit-box-sizing: border-box; /* safari3 */
  -khtml-box-sizing: border-box; /* konqueror */
}

/* Tooltips for the report grid */
.tooltip{
  position:absolute;
  left:-2000px;
  background-color:#fefede;
  padding:5px;
  border:1px solid #fff;
}

.tooltip p {
  margin: 0;
}