<?php

/**
 * @file
 * Configuration for the workflow module.
 *
 * Indicia, the OPAL Online Recording Toolkit.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see http://www.gnu.org/licenses/gpl.html.
 *
 * @license http://www.gnu.org/licenses/gpl.html GPL
 * @link https://github.com/Indicia-Team/
 */

/**
 * List of workflow group.
 *
 * Each has a code and a list of website IDs that collaborate with this group.
 */
$config['groups'] = [
  'NNSIP' => [
    // This is the ID of the website that administers this group of workflow rules.
    'owner_website_id' => 2,
    // These are the IDs of websites which the workflow rules will be applied to.
    'member_website_ids' => [2, 3, 4],
  ]
];
