<?php

/**
 * Indicia, the OPAL Online Recording Toolkit.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see http://www.gnu.org/licenses/gpl.html.
 *
 * @author Indicia Team
 * @license http://www.gnu.org/licenses/gpl.html GPL
 * @link https://github.com/indicia-team/warehouse/
 */

/**
 * Verifier notifications config.
 *
 * The following configuration should hold the list of websites which host a
 * verification portal and where the verifiers should be automatically
 * notified of incoming records. Each entry consists of:
 * * website_id - the website that the records are being shared to for
 *   verification or moderation.
 * * title - name of the website used in the notification text
 * * url -n the verification page URL path.
 * * linkText - optional, override the default text in the link to the page.
 * * extraParams - additional filter parameters (from the standard parameters
 *   list) to supply to the report which detects records to notify for. In this
 *   example, a website is excluded from the verification page.
 */
$config['verification_urls'] = [
  [
    'website_id' => 23,
    'title' => 'iRecord',
    'url' => 'http://www.brc.ac.uk/irecord/verification',
    'extraParams' => [
      'website_list' => 112,
      'website_list_op' => 'not in',
    ],
  ],
];
// Same again but for pending check/moderation tasks.
$config['moderation_urls'] = [
  [
    'website_id' => 23,
    'title' => 'iRecord',
    'url' => 'http://www.brc.ac.uk/irecord/moderation',
    'linkText' => 'Click here to view mentoring records needing your help.'
  ],
];
