<?php

/**
 * Indicia, the OPAL Online Recording Toolkit.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see http://www.gnu.org/licenses/gpl.html.
 *
 * @license	http://www.gnu.org/licenses/gpl.html GPL
 * @link 	https://github.com/indicia-team/warehouse/
 */

// List the location type terms that area available for indexing against.
// Typically these will need to be those which are frequently reported against
// especially where the boundaries are large and/or complex.
$config['location_types'] = [
  'Vice County',
  'Local wildlife site'
];

// Optionally specify a list of location types that will be used when indexing
// recording groups for ease of searching. For example you might want to do
// this only at a county level. If not specified then the `location_types`
// config specified above is used.
$config['group_location_types'] = [
  'Vice County',
];

// Of the indexed types, which are layers which have a parent ID that points to
// another higher level layer that should also be indexed?
$config['hierarchical_location_types'] = [
  'Vice County',
];

// If any of the indexed location types only need indexing for certain surveys
// then that can be configured here. Omit this configuration if not required.
$config['survey_restrictions'] = [
  // Only build an index for surveys 25, 26 and 27 for local wildlife sites.
  'Local wildlife site' => [25, 26, 27],
];