[submodule "media"]
	path = media
	url = https://github.com/Indicia-Team/media.git
	branch = master
[submodule "client_helpers"]
	path = client_helpers
	url = https://github.com/Indicia-Team/client_helpers.git
	branch = master
