table.submission {
  margin: 2em;
}

table.submission td, table.submission th {
  padding: 0 0.5em;
}

#legend {
  float: right; 
  width: 300px; 
  border: dotted 1px;
  line-height: 20px;
  padding: 0.5em;
}

#legend img {
  margin: 0px;
  border: none;
}