*
{
        margin: 0;
        padding: 0;
}

html * { font-size: 100.01%; color:#000000; }

body
{
        position: relative;
        margin: auto;
        width: 760px;
        font-size: 80%;
        background: #E5E0C3 url(../images/gradient.png) repeat-x top left;
        text-align: center;
        font-family: Trebuchet MS, Helvetica, sans-serif;
}

#wrapper
{
        text-align: left;
        background-color: #FFFFFF;
        padding: 6px;
        float: left;
        border: solid #CCCCCC 1px;
}

#content
{
        float: left;
        clear: both;
        margin: 20px;
}

h1
{
        color: #103A6A;
        margin-bottom: 1.0em;
        font-size: 1.8em;
        letter-spacing:0.2px;
}

fieldset {
        margin-bottom:2em;
        width:700px;
}

fieldset legend{
        font-size:1.4em;
        margin-bottom:1em;
        margin-left:1em;
}

ul {
        list-style:none;
        margin-left:3em;
        margin-bottom:1em;
}

ul h3{
        font-size:1.0em;
        letter-spacing:0.2px;
}

ul li.item_content{
        margin-bottom:1.0em;
}

input.text_field {
        font-size:1.1em;
        padding:0.2em;
        width:25em;
        letter-spacing:0.15px;
}

input.text_field_error {
        color:#000000 !important;
        background-color: #cc6666 !important;
        font-weight:bold;
}

input#start_setup_button{
        font-size:1.3em;
        padding:0.4em;
}

hr {
        margin-bottom:2.0em;
}

p {
        font-size:1.2em;
        padding:1.0em;
}

fieldset#global_error {
        border:0px;
}
fieldset#global_error legend{
        color:#cc2222;
}
fieldset#global_error ul {
        list-style:circle;
        font-size:1.2em;
        font-weight:bold;
        color:#cc2222;
        border: solid #cc2222 6px;
        padding:2em;
        margin:0;
        margin-bottom:2em;
}
fieldset#global_error ul li {
        margin-bottom:1em;
}