/* CSS styles to support the REST API help page */

$heading-colour: #0066AA;
$heading-background-colour: #dbdbdb;
$label-col-background-colour: #e6e6e6;
$gap: 1em;

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1, h2, h3 {
  color: $heading-colour;
}

.collapse {
  margin-bottom: 3em;
  h4 {
    margin-top: 2em;
  }
}

table {
  caption {
    padding: $gap/4;
    background-color: $heading-background-colour;
    border: solid silver 1px;
    border-bottom: none;
    font-weight: bold;
  }
  th {
    &[scope=col] {
      background-color: $heading-background-colour;
    }
    &[scope=row] {
      background-color: $label-col-background-colour;
      &.type-report {
        background: $label-col-background-colour url(../../../../media/images/report_datatable.png) no-repeat 4px 2px;
        background-size: 25px 25px;
        padding-left: 32px;
      }
      &.type-folder {
        background: $label-col-background-colour url(../../../../media/images/folder.gif) no-repeat 4px 2px;
        background-size: 25px 25px;
        padding-left: 32px;
      }
    }
  }
}