body {
  font-size:90%;
  font-family: verdana, sans-serif;
  width: 780px;
  margin: auto;
  text-align: center;
  background-color: #BAD1EC;
}

#wrap {
  text-align: left;
  background-color: #ffffff;
  padding: 8px;
  border: solid black 1px;
}

label {
  width: 200px;
  line-height: 2em;
  display: inline-block;
}

fieldset {
  width: 690px;
  margin-left: 10px;
}

input, select {
  width: 200px;
}

#map input, .auto {
  width: auto;
}

.wide {
  width: 460px;
}

#outermap {
  margin-left: 205px;
  margin-bottom: 12px;
}

.olControlPanel {
    display: inline-block;
    zoom: 1;
    *display: inline;
    border: solid #cccccc 1px;
    border-right: none;
    background-color: #e7e7e7;
    width: 438px;
}

.olControlPanel div {
  display: inline-block;
  zoom: 1;
  *display: inline;
  height: 22px;
  width: 24px;
  margin: 2px;
}

#mousePos {
  width: 228px;
  border: solid #cccccc 1px;
  border-left: none;
  background-color: #e7e7e7;
  height: 25px;
  display: inline-block;
  vertical-align: top;
  text-align: right;
  font-size: 90%;
  padding-top: 4px;
  padding-right: 2px;
}

.olControlPanel .olControlNavigationItemActive {
  background-image: url("../../../media/js/theme/default/img/move_feature_on.png");
}

.olControlPanel .olControlNavigationItemInactive {
  background-image: url("../../../media/js/theme/default/img/move_feature_off.png");
}

.olControlPanel .olControlDrawFeatureItemActive {
  background-image: url("../../../media/js/theme/default/img/draw_polygon_on.png");
}

.olControlPanel .olControlDrawFeatureItemInactive {
  background-image: url("../../../media/js/theme/default/img/draw_polygon_off.png");
}

.olControlPanel .trashButtonItemInactive {
  background-image: url("trash.png");
  margin-left: 6px;
}

.actionlist li {
  list-style-type: none;
}

.actionlist a {
  width: 400px;
  border: solid grey 1px;
  display: block;
  margin: 10px;
  padding: 6px;
}