<?php
/**
 * Indicia, the OPAL Online Recording Toolkit.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see http://www.gnu.org/licenses/gpl.html.
 *
 * @author Indicia Team
 * @license	http://www.gnu.org/licenses/gpl.html GPL
 * @link http://code.google.com/p/indicia/
 */

$config['actions'] = [
  // key will be the URL action, e.g. data_utils/process_ecmc_import
  'process_ecmc_import' => array(
    // name of the stored procedure in the database
    'stored_procedure'=>'f_process_ecmc_import',
    // List of parameters to pass to the procedure.
    // Numeric parameters are be extracted from the URL path segments at the
    // given position, either [n] to extract an integer or {1} to extract a
    // string. Text parameters are extracted from the URL query parameters of
    // the matchin name.
    // In this example, data_utils/process_ecmc_import/5?foo=bar will call
    // select f_process_ecmc_import(6,7,1,'bar',22,146,5);
    'parameters' => array(
      6,
      7,
      1,
      '{foo}',
      22,
      146,
      '[1]'
    )
  )
];

$config['bulk_move_allowed_mappings'] = [
  [
    'src' => ['website_id' => 1, 'survey_id' => 1],
    'dest' => ['website_id' => 2, 'survey_id' => 2],
  ],
];