* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 80%;
}

table {
  margin: 1em 1em 0.15em 1em;
}

th {
  padding: 0.3em;
  text-align: left;
  font-weight: normal;
  cursor: pointer;
}

td {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.odd {
  background-color: #eeeeee;
}

.pager {
  margin: 0.15em 0em 1em 1em;
}


