#layers {
  float: right; 
  width: 300px; 
  border: dotted 1px;
  line-height: 20px;
  padding: 0.5em;
}

#layers img {
  margin: 0px;
  border: none;
  margin-right: 1em;
}

#layers ul li {
  list-style: none;
  background: none;
}

#layers ul li * {
  vertical-align: middle;
}

#layers ul li div {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: none 1px;
  margin-right: 1em;
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}