.deh-required {
  color:red;
}
.control-box {
  display:inline  !important;
}
p.inline-error {
  margin-left: 0;	
  margin-bottom: 0;
  margin-top: 4px;
  margin-right: 20px;	
  display: inline;  
}
.remove-row {
  color:red !important;
}
input.site-name {
	width: 200px;
}
label.auto-width {
	width: auto;
}
label.prepad {
  padding-left: 20px;	
}
.coords-text {
  margin-top: 4px;
  margin-left: 20px;	
}
