.redOption {
  color:red !important;
}
.remove-cgnewrow {
  color:red !important;
}
.clear-cgrow {
  color:red !important;
}
.remove-sgnewrow {
  color:red !important;
}
.clear-sgrow {
  color:red !important;
}
.narrow {
  width: 30px;
}
input.cgAttr {
  width: 50px;
}
.cggrid-date {
  width: 90px;
}
.cggrid-comment{
  width: 150px;
}
p.inline-error {
  margin-left: 0;	
  margin-bottom: 0;
  margin-top: 4px;
  margin-right: 20px;	
  display: inline;  
}

.deh-required {
  color:red;
}
.control-box {
  display:inline  !important;
}

label.auto-width {
	width: auto;
}
label.prepad {
  padding-left: 20px;	
}
.coords-text {
  margin-top: 4px;
  margin-left: 20px;	
}
input.mnhnl-site-name {
	width: 300px;
}
div.olControlEditingToolbar div.olControlCancelSketchItemInactive {
  background-image: url("../images/mnhnl-mod-toolbar.png");
  background-position: 0px 0px;
}
div.olControlEditingToolbar div.olControlUndoSketchPointItemInactive {
  background-image: url("../images/mnhnl-mod-toolbar.png");
  background-position: -25px 0px;
}

div.olControlEditingToolbar div.olControlRemoveNewSiteItemInactive {
  background-image: url("../images/mnhnl-mod-toolbar.png");
  background-position: -50px 0px;
}

div.olControlEditingToolbar div.olControlZoomToSiteItemInactive {
  background-image: url("../images/mnhnl-mod-toolbar.png");
  background-position: -75px 0px;
}

div.olControlEditingToolbar div.olControlZoomToSquareItemInactive {
  background-image: url("../images/mnhnl-mod-toolbar.png");
  background-position: -100px 0px;
}

div.olControlEditingToolbar div.olControlZoomToCountryItemInactive {
  background-image: url("../images/mnhnl-mod-toolbar.png");
  background-position: -125px 0px;
}

div.olControlEditingToolbar div.olControlStartNewSiteItemInactive {
  background-image: url("../images/mnhnl-mod-toolbar.png");
  background-position: -150px 0px;
}

div.olControlEditingToolbar  {
    width: 350px;
}
#imp-srefX {
	width: 60px;
}
#imp-srefY {
	width: 60px;
}

