#filters {
  vertical-align: middle;
}
#filters input, #filters select, #filters label {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.25em;
}
.categories, .reports, .report-outputs {
  list-style-type: none;
}
.reports li {
  display: inline-block;
}
.reports > li {
  border: solid silver 1px;
  margin: 2%;
  padding: 1em;
  box-sizing: border-box;
  width: 96%;
}
.report-outputs li {
  margin: 0 0.5em;
}
.report-outputs a {
  background: no-repeat center top;
  padding-top: 80px;
  min-width: 80px;
  display: inline-block;
}
.report-outputs a.link-raw_data {
  background-image: url("../../../media/images/report_datatable.png");
}
.report-outputs a.link-map {
  background-image: url("../../../media/images/report_map.png");
}
.report-outputs a.link-chart {
  background-image: url("../../../media/images/report_barchart.png");
}
.report-outputs a.link-pie_chart {
  background-image: url("../../../media/images/report_piechart.png");
}
@media (min-width: 900px) {
  .reports > li {
    width: 46%;
  }
}