.deh-required {
  color:red;
}

.srf2-datapanel {
  float: left;
  position: relative;
  width: 425px;
}

.srf2-mappanel {
  margin-left: 460px;
}

.srf2-highlight {
  background-color: #eeeeee;
}

textarea {
  width: 240px;
}
