/* line 14, sass/verification_4.scss */
table.report-grid {
  font-size: 80%;
  width: 100%;
}
/* line 17, sass/verification_4.scss */
table.report-grid tr:hover, table.report-grid table.report-grid tr.odd:hover {
  background-color: #ffffcc;
}
/* line 20, sass/verification_4.scss */
table.report-grid tr.selected, table.report-grid tr.selected td {
  background-color: #027ac6;
  color: white;
}
/* line 24, sass/verification_4.scss */
table.report-grid .nowrap {
  whitespace: nowrap;
}

/* line 29, sass/verification_4.scss */
ul.gallery li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  list-style-type: none;
  text-align: center;
  background: none;
}
/* line 7, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
ul.gallery li {
  *display: inline;
}

/* line 36, sass/verification_4.scss */
#btn-verify, #btn-verify-all {
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  font-size: 11px;
  padding: 0.5em 1.5em;
  line-height: 1.2em;
  border-style: solid;
  border-width: 1px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background-color: #00a000;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a000), color-stop(100%, #003a00));
  background: -webkit-linear-gradient(#00a000, #003a00);
  background: -moz-linear-gradient(#00a000, #003a00);
  background: -o-linear-gradient(#00a000, #003a00);
  background: -ms-linear-gradient(#00a000, #003a00);
  background: linear-gradient(#00a000, #003a00);
  border-color: #003a00;
  color: white;
  text-shadow: #003000, 0 1px 0;
}
/* line 23, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.0.5/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#btn-verify:hover, #btn-verify-all:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00ba00), color-stop(100%, #005300));
  background: -webkit-linear-gradient(#00ba00, #005300);
  background: -moz-linear-gradient(#00ba00, #005300);
  background: -o-linear-gradient(#00ba00, #005300);
  background: -ms-linear-gradient(#00ba00, #005300);
  background: linear-gradient(#00ba00, #005300);
}

/* line 40, sass/verification_4.scss */
#btn-reject {
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  font-size: 11px;
  padding: 0.5em 1.5em;
  line-height: 1.2em;
  border-style: solid;
  border-width: 1px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background-color: #a00000;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a00000), color-stop(100%, #3a0000));
  background: -webkit-linear-gradient(#a00000, #3a0000);
  background: -moz-linear-gradient(#a00000, #3a0000);
  background: -o-linear-gradient(#a00000, #3a0000);
  background: -ms-linear-gradient(#a00000, #3a0000);
  background: linear-gradient(#a00000, #3a0000);
  border-color: #3a0000;
  color: white;
  text-shadow: #300000, 0 1px 0;
}
/* line 23, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.0.5/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#btn-reject:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ba0000), color-stop(100%, #530000));
  background: -webkit-linear-gradient(#ba0000, #530000);
  background: -moz-linear-gradient(#ba0000, #530000);
  background: -o-linear-gradient(#ba0000, #530000);
  background: -ms-linear-gradient(#ba0000, #530000);
  background: linear-gradient(#ba0000, #530000);
}

/* line 44, sass/verification_4.scss */
#btn-query {
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  font-size: 11px;
  padding: 0.5em 1.5em;
  line-height: 1.2em;
  border-style: solid;
  border-width: 1px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background-color: #f0a000;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0a000), color-stop(100%, #8a5c00));
  background: -webkit-linear-gradient(#f0a000, #8a5c00);
  background: -moz-linear-gradient(#f0a000, #8a5c00);
  background: -o-linear-gradient(#f0a000, #8a5c00);
  background: -ms-linear-gradient(#f0a000, #8a5c00);
  background: linear-gradient(#f0a000, #8a5c00);
  border-color: #8a5c00;
  color: white;
  text-shadow: #805500, 0 1px 0;
}
/* line 23, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.0.5/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#btn-query:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffad0a), color-stop(100%, #a36d00));
  background: -webkit-linear-gradient(#ffad0a, #a36d00);
  background: -moz-linear-gradient(#ffad0a, #a36d00);
  background: -o-linear-gradient(#ffad0a, #a36d00);
  background: -ms-linear-gradient(#ffad0a, #a36d00);
  background: linear-gradient(#ffad0a, #a36d00);
}

/* line 48, sass/verification_4.scss */
#btn-multiple {
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  font-size: 11px;
  padding: 0.5em 1.5em;
  line-height: 1.2em;
  border-style: solid;
  border-width: 1px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background-color: #4ba3cc;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4ba3cc), color-stop(100%, #276b8a));
  background: -webkit-linear-gradient(#4ba3cc, #276b8a);
  background: -moz-linear-gradient(#4ba3cc, #276b8a);
  background: -o-linear-gradient(#4ba3cc, #276b8a);
  background: -ms-linear-gradient(#4ba3cc, #276b8a);
  background: linear-gradient(#4ba3cc, #276b8a);
  border-color: #276b8a;
  color: white;
  text-shadow: #256482, 0 1px 0;
  -moz-box-shadow: 0 0.4em 0px #3899c6;
  -webkit-box-shadow: 0 0.4em 0px #3899c6;
  -o-box-shadow: 0 0.4em 0px #3899c6;
  box-shadow: 0 0.4em 0px #3899c6;
  border-bottom: solid 1px #57a9cf;
}
/* line 23, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.0.5/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#btn-multiple:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5fadd2), color-stop(100%, #2d7a9e));
  background: -webkit-linear-gradient(#5fadd2, #2d7a9e);
  background: -moz-linear-gradient(#5fadd2, #2d7a9e);
  background: -o-linear-gradient(#5fadd2, #2d7a9e);
  background: -ms-linear-gradient(#5fadd2, #2d7a9e);
  background: linear-gradient(#5fadd2, #2d7a9e);
}
/* line 7, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.0.5/stylesheets/sassy-buttons/_sassy-button-styles.sass */
#btn-multiple:active {
  top: 0.3em;
  -moz-box-shadow: 0 0.2em 0px #358fba;
  -webkit-box-shadow: 0 0.2em 0px #358fba;
  -o-box-shadow: 0 0.2em 0px #358fba;
  box-shadow: 0 0.2em 0px #358fba;
}

/* line 53, sass/verification_4.scss */
#btn-multiple.active {
  -moz-box-shadow: #133342 0 0.2em 0.4em inset;
  -webkit-box-shadow: #133342 0 0.2em 0.4em inset;
  -o-box-shadow: #133342 0 0.2em 0.4em inset;
  box-shadow: #133342 0 0.2em 0.4em inset;
  border: solid 1px #0b1e27;
}

/* line 57, sass/verification_4.scss */
#comment-text {
  display: block;
  width: 100%;
}

/* line 62, sass/verification_4.scss */
.popup-form {
  width: 500px;
  line-height: 3;
}
/* line 18, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form label {
  font-weight: bold;
}
/* line 19, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.text, .popup-form input.title, .popup-form input[type=email], .popup-form input[type=text], .popup-form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.title {
  font-size: 1.5em;
}
/* line 29, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form select {
  margin: 0.5em 0;
}
/* line 44, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.text, .popup-form input.title, .popup-form input[type=email], .popup-form input[type=text], .popup-form input[type=password] {
  width: 360px;
}
/* line 46, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form textarea {
  width: 360px;
  height: 250px;
}
/* line 6, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form p {
  margin-bottom: 0;
}
/* line 68, sass/verification_4.scss */
.popup-form label {
  width: 120px;
}
/* line 70, sass/verification_4.scss */
.popup-form label.error {
  width: auto;
  margin: 0 0 0 120px;
  line-height: 1em;
}
/* line 76, sass/verification_4.scss */
.popup-form .warning {
  line-height: 1.2em;
  -moz-box-shadow: #a00000 1px 1px 3px;
  -webkit-box-shadow: #a00000 1px 1px 3px;
  -o-box-shadow: #a00000 1px 1px 3px;
  box-shadow: #a00000 1px 1px 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  padding: 1em;
  margin: 1em;
}

/* line 85, sass/verification_4.scss */
.manual-email {
  width: 600px;
}
/* line 88, sass/verification_4.scss */
.manual-email .left {
  width: 120px;
}
/* line 91, sass/verification_4.scss */
.manual-email .right {
  width: 450px;
}

/* line 96, sass/verification_4.scss */
#instructions {
  padding: 1em;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #c2e0ee));
  background: -webkit-linear-gradient(top, #ffffff, #c2e0ee);
  background: -moz-linear-gradient(top, #ffffff, #c2e0ee);
  background: -o-linear-gradient(top, #ffffff, #c2e0ee);
  background: -ms-linear-gradient(top, #ffffff, #c2e0ee);
  background: linear-gradient(top, #ffffff, #c2e0ee);
}
/* line 99, sass/verification_4.scss */
#instructions li {
  background-image: none;
  list-style-type: circle;
  list-style-position: inside;
  padding-top: 0.1em;
}

/* line 108, sass/verification_4.scss */
#record-details-toolbar label {
  width: 70px;
}

/* line 113, sass/verification_4.scss */
#record-details-tabs {
  font-size: 80%;
}
/* line 119, sass/verification_4.scss */
#record-details-tabs #details-tab table td.header {
  color: #027ac6;
  font-weight: bold;
  border-bottom: solid silver 1px;
}
/* line 124, sass/verification_4.scss */
#record-details-tabs #details-tab table td.caption {
  padding: 0 1em 0 0.5em;
  font-weight: bold;
}
/* line 133, sass/verification_4.scss */
#record-details-tabs #phenology-tab p {
  margin: 0;
}

/* line 139, sass/verification_4.scss */
input[type="button"].tools-btn, button.tools-btn {
  padding: 0.3em;
}

/* line 144, sass/verification_4.scss */
.quick-verify-popup label {
  width: auto;
  margin-left: 2em;
}
/* line 148, sass/verification_4.scss */
.quick-verify-popup button {
  margin-top: 1em;
}
/* line 151, sass/verification_4.scss */
.quick-verify-popup .helpText {
  margin-left: 45px;
}
/* line 154, sass/verification_4.scss */
.quick-verify-popup h2, .quick-verify-popup h3 {
  margin-bottom: 4px;
}
/* line 157, sass/verification_4.scss */
.quick-verify-popup a {
  text-decoration: underline;
  margin: 0px 6px;
}
/* line 160, sass/verification_4.scss */
.quick-verify-popup a:hover, .quick-verify-popup a:active {
  background-color: #ffffcc;
}

/* line 167, sass/verification_4.scss */
.verify-tools {
  display: none;
  position: absolute;
  background: white;
  border: solid silver 1px;
}
/* line 172, sass/verification_4.scss */
.verify-tools li {
  background-image: none;
  padding: 0.2em 0.5em;
}

/* line 179, sass/verification_4.scss */
tr.verified, tr.rejected, tr.total {
  text-align: right;
  padding-right: 1em;
}
/* line 183, sass/verification_4.scss */
tr.verified {
  font-color: #00a000;
}
/* line 186, sass/verification_4.scss */
tr.rejected {
  font-color: #00a000;
}
/* line 189, sass/verification_4.scss */
tr.total {
  font-weight: bold;
}
/* line 195, sass/verification_4.scss */
.grid-verify-popup button {
  margin-right: 1em;
}