/* line 16, sass/verification_3.scss */
#verification-params .report-param {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  vertical-align: middle;
}
/* line 7, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#verification-params .report-param {
  *display: inline;
}
/* line 21, sass/verification_3.scss */
#verification-params #run-report {
  vertical-align: middle;
}
/* line 25, sass/verification_3.scss */
#verification-params fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
/* line 29, sass/verification_3.scss */
#verification-params fieldset legend {
  display: none;
}

/* line 37, sass/verification_3.scss */
#verification-grid form#verification-grid-params {
  margin-bottom: 0;
}
/* line 41, sass/verification_3.scss */
#verification-grid .pass-icon {
  width: 16px;
  height: 16px;
  padding: 2px;
  border: solid green 1px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: green 1px 1px 3px;
  -webkit-box-shadow: green 1px 1px 3px;
  -o-box-shadow: green 1px 1px 3px;
  box-shadow: green 1px 1px 3px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  background: url("../images/nuvola/ok-16px.png") no-repeat 2px 2px;
}
/* line 7, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#verification-grid .pass-icon {
  *display: inline;
}
/* line 52, sass/verification_3.scss */
#verification-grid .fail-icon {
  width: 16px;
  height: 16px;
  padding: 2px;
  border: solid red 1px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: red 1px 1px 3px;
  -webkit-box-shadow: red 1px 1px 3px;
  -o-box-shadow: red 1px 1px 3px;
  box-shadow: red 1px 1px 3px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  background: url("../images/nuvola/help-16px.png") no-repeat 2px 2px;
}
/* line 7, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#verification-grid .fail-icon {
  *display: inline;
}
/* line 63, sass/verification_3.scss */
#verification-grid div.data_cleaner_identification_difficulty {
  background: url("../images/nuvola/xmag-16px.png") no-repeat 2px 2px;
}
/* line 67, sass/verification_3.scss */
#verification-grid div.data_cleaner_period {
  background: url("../images/nuvola/history-16px.png") no-repeat 2px 2px;
}
/* line 71, sass/verification_3.scss */
#verification-grid div.data_cleaner_period_within_year {
  background: url("../images/nuvola/date-16px.png") no-repeat 2px 2px;
}
/* line 75, sass/verification_3.scss */
#verification-grid div.data_cleaner_without_polygon {
  background: url("../images/nuvola/browser-16px.png") no-repeat 2px 2px;
}
/* line 79, sass/verification_3.scss */
#verification-grid div.verification_check_species_designation {
  background: url("../images/nuvola/bottom-16px.png") no-repeat 2px 2px;
}

/* line 84, sass/verification_3.scss */
#outer-grid-left #grid {
  width: 55%;
}
/* line 87, sass/verification_3.scss */
#outer-grid-left #grid #record-details-wrap {
  width: 44%;
  overflow: auto;
}

/* line 93, sass/verification_3.scss */
#grid {
  overflow: auto;
}

/* line 97, sass/verification_3.scss */
table.report-grid {
  font-size: 80%;
  width: 100%;
}
/* line 100, sass/verification_3.scss */
table.report-grid tr:hover, table.report-grid table.report-grid tr.odd:hover {
  background-color: #ffffcc;
}
/* line 103, sass/verification_3.scss */
table.report-grid tr.selected, table.report-grid tr.selected td {
  background-color: #027ac6;
  color: white;
}

/* line 109, sass/verification_3.scss */
ul.gallery li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  list-style-type: none;
  text-align: center;
  background: none;
}
/* line 7, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
ul.gallery li {
  *display: inline;
}

/* line 116, sass/verification_3.scss */
.status-V {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000700), color-stop(100%, #00a000));
  background: -webkit-linear-gradient(top, #000700, #00a000);
  background: -moz-linear-gradient(top, #000700, #00a000);
  background: -o-linear-gradient(top, #000700, #00a000);
  background: -ms-linear-gradient(top, #000700, #00a000);
  background: linear-gradient(top, #000700, #00a000);
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  color: #ffffff;
}

/* line 122, sass/verification_3.scss */
.status-R {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #070000), color-stop(100%, #a00000));
  background: -webkit-linear-gradient(top, #070000, #a00000);
  background: -moz-linear-gradient(top, #070000, #a00000);
  background: -o-linear-gradient(top, #070000, #a00000);
  background: -ms-linear-gradient(top, #070000, #a00000);
  background: linear-gradient(top, #070000, #a00000);
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  color: #ffffff;
}

/* line 128, sass/verification_3.scss */
.status-S {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1c4c62), color-stop(100%, #4ba3cc));
  background: -webkit-linear-gradient(top, #1c4c62, #4ba3cc);
  background: -moz-linear-gradient(top, #1c4c62, #4ba3cc);
  background: -o-linear-gradient(top, #1c4c62, #4ba3cc);
  background: -ms-linear-gradient(top, #1c4c62, #4ba3cc);
  background: linear-gradient(top, #1c4c62, #4ba3cc);
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  color: #ffffff;
}

/* line 134, sass/verification_3.scss */
.status-D {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #271a00), color-stop(100%, #c08000));
  background: -webkit-linear-gradient(top, #271a00, #c08000);
  background: -moz-linear-gradient(top, #271a00, #c08000);
  background: -o-linear-gradient(top, #271a00, #c08000);
  background: -ms-linear-gradient(top, #271a00, #c08000);
  background: linear-gradient(top, #271a00, #c08000);
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  color: #ffffff;
}

/* line 140, sass/verification_3.scss */
.zero-t {
  font-style: italic;
  text-decoration: line-through;
}

/* line 145, sass/verification_3.scss */
button {
  margin: 0.25em;
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  font-size: 11px;
  padding: 0.25em;
  line-height: 1em;
  border-style: solid;
  border-width: 1px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  font-weight: bold;
}

/* line 151, sass/verification_3.scss */
#btn-verify, #btn-verify-all {
  background-color: #00a000;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a000), color-stop(100%, #003a00));
  background: -webkit-linear-gradient(#00a000, #003a00);
  background: -moz-linear-gradient(#00a000, #003a00);
  background: -o-linear-gradient(#00a000, #003a00);
  background: -ms-linear-gradient(#00a000, #003a00);
  background: linear-gradient(#00a000, #003a00);
  border-color: #003a00;
  color: white;
  text-shadow: #003000, 0 1px 0;
}
/* line 23, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.0.5/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#btn-verify:hover, #btn-verify-all:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00ba00), color-stop(100%, #005300));
  background: -webkit-linear-gradient(#00ba00, #005300);
  background: -moz-linear-gradient(#00ba00, #005300);
  background: -o-linear-gradient(#00ba00, #005300);
  background: -ms-linear-gradient(#00ba00, #005300);
  background: linear-gradient(#00ba00, #005300);
}

/* line 155, sass/verification_3.scss */
#btn-reject {
  background-color: #a00000;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a00000), color-stop(100%, #3a0000));
  background: -webkit-linear-gradient(#a00000, #3a0000);
  background: -moz-linear-gradient(#a00000, #3a0000);
  background: -o-linear-gradient(#a00000, #3a0000);
  background: -ms-linear-gradient(#a00000, #3a0000);
  background: linear-gradient(#a00000, #3a0000);
  border-color: #3a0000;
  color: white;
  text-shadow: #300000, 0 1px 0;
}
/* line 23, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.0.5/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#btn-reject:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ba0000), color-stop(100%, #530000));
  background: -webkit-linear-gradient(#ba0000, #530000);
  background: -moz-linear-gradient(#ba0000, #530000);
  background: -o-linear-gradient(#ba0000, #530000);
  background: -ms-linear-gradient(#ba0000, #530000);
  background: linear-gradient(#ba0000, #530000);
}

/* line 159, sass/verification_3.scss */
#btn-dubious {
  background-color: #c08000;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c08000), color-stop(100%, #5a3c00));
  background: -webkit-linear-gradient(#c08000, #5a3c00);
  background: -moz-linear-gradient(#c08000, #5a3c00);
  background: -o-linear-gradient(#c08000, #5a3c00);
  background: -ms-linear-gradient(#c08000, #5a3c00);
  background: linear-gradient(#c08000, #5a3c00);
  border-color: #5a3c00;
  color: white;
  text-shadow: #503500, 0 1px 0;
}
/* line 23, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.0.5/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#btn-dubious:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #da9100), color-stop(100%, #744d00));
  background: -webkit-linear-gradient(#da9100, #744d00);
  background: -moz-linear-gradient(#da9100, #744d00);
  background: -o-linear-gradient(#da9100, #744d00);
  background: -ms-linear-gradient(#da9100, #744d00);
  background: linear-gradient(#da9100, #744d00);
}

/* line 163, sass/verification_3.scss */
button.default-button {
  background-color: #4ba3cc;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4ba3cc), color-stop(100%, #276b8a));
  background: -webkit-linear-gradient(#4ba3cc, #276b8a);
  background: -moz-linear-gradient(#4ba3cc, #276b8a);
  background: -o-linear-gradient(#4ba3cc, #276b8a);
  background: -ms-linear-gradient(#4ba3cc, #276b8a);
  background: linear-gradient(#4ba3cc, #276b8a);
  border-color: #276b8a;
  color: white;
  text-shadow: #256482, 0 1px 0;
}
/* line 23, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.0.5/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
button.default-button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5fadd2), color-stop(100%, #2d7a9e));
  background: -webkit-linear-gradient(#5fadd2, #2d7a9e);
  background: -moz-linear-gradient(#5fadd2, #2d7a9e);
  background: -o-linear-gradient(#5fadd2, #2d7a9e);
  background: -ms-linear-gradient(#5fadd2, #2d7a9e);
  background: linear-gradient(#5fadd2, #2d7a9e);
}

/* line 167, sass/verification_3.scss */
#comment-text {
  display: block;
  width: 100%;
}

/* line 172, sass/verification_3.scss */
.popup-form {
  width: 500px;
  line-height: 3;
}
/* line 18, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form label {
  font-weight: bold;
}
/* line 19, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.text, .popup-form input.title, .popup-form input[type=email], .popup-form input[type=text], .popup-form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.title {
  font-size: 1.5em;
}
/* line 29, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form select {
  margin: 0.5em 0;
}
/* line 55, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form fieldset {
  border: 1px solid #cccccc;
}
/* line 58, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.text, .popup-form input.title, .popup-form input[type=email], .popup-form input[type=text], .popup-form input[type=password],
.popup-form textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.text:focus, .popup-form input.title:focus, .popup-form input[type=email]:focus, .popup-form input[type=text]:focus, .popup-form input[type=password]:focus,
.popup-form textarea:focus {
  border-color: #666666;
}
/* line 65, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.text, .popup-form input.title, .popup-form input[type=email], .popup-form input[type=text], .popup-form input[type=password] {
  width: 360px;
}
/* line 46, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form textarea {
  width: 360px;
  height: 250px;
}
/* line 6, ../../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form p {
  margin-bottom: 0;
}
/* line 179, sass/verification_3.scss */
.popup-form label {
  width: 120px;
}
/* line 181, sass/verification_3.scss */
.popup-form label.error {
  width: auto;
  margin: 0 0 0 120px;
  line-height: 1em;
}

/* line 189, sass/verification_3.scss */
.manual-email {
  width: 600px;
}
/* line 192, sass/verification_3.scss */
.manual-email .left {
  width: 120px;
}
/* line 195, sass/verification_3.scss */
.manual-email .right {
  width: 450px;
}

/* line 200, sass/verification_3.scss */
#instructions {
  padding: 1em;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #c2e0ee));
  background: -webkit-linear-gradient(top, #ffffff, #c2e0ee);
  background: -moz-linear-gradient(top, #ffffff, #c2e0ee);
  background: -o-linear-gradient(top, #ffffff, #c2e0ee);
  background: -ms-linear-gradient(top, #ffffff, #c2e0ee);
  background: linear-gradient(top, #ffffff, #c2e0ee);
}
/* line 203, sass/verification_3.scss */
#instructions li {
  background-image: none;
  list-style-type: circle;
  list-style-position: inside;
  padding-top: 0.1em;
}

/* line 212, sass/verification_3.scss */
#record-details-toolbar label {
  width: 100px;
}

/* line 218, sass/verification_3.scss */
#phenology-tab p {
  font-size: 80%;
  margin: 0;
}
