.page-notice {
  color:red;
}
div.olControlEditingToolbar .olControlUndoItemInactive {
  background-image: url("../../../media/images/cancel.png");
  width: 16px;
  height: 16px;
  margin: 8px 6px;
  background-position: 0px 0px;
}