.deh-required {
  color:red;
}
.control-box label {
  width: auto;
}

.scOccAttrCell label {
  margin-right: 15px;
  width: auto;
}
.scOccAttrCell input[type='radio'] {
  width: auto;
}
