.deh-required {
  color:red;
}
.control-box {
  display:inline  !important;
}
p.inline-error {
  margin-left: 0;	
  margin-bottom: 0;
  margin-top: 4px;
  margin-right: 20px;	
  display: inline;  
}
label.auto-width {
	width: auto;
}
label.prepad {
  padding-left: 20px;	
}
.coords-text {
  margin-top: 4px;
  margin-left: 20px;	
}
div.olControlEditingToolbar div.olControlCancelSketchItemInactive {
  background-image: url("../images/mnhnl-mod-toolbar.png");
  background-position: 0px 0px;
}
div.olControlEditingToolbar div.olControlUndoSketchPointItemInactive {
  background-image: url("../images/mnhnl-mod-toolbar.png");
  background-position: -25px 0px;
}

div.olControlEditingToolbar div.olControlRemoveNewSiteItemInactive {
  background-image: url("../images/mnhnl-mod-toolbar.png");
  background-position: -50px 0px;
}

div.olControlEditingToolbar div.olControlZoomToSiteItemInactive {
  background-image: url("../images/mnhnl-mod-toolbar.png");
  background-position: -75px 0px;
}

div.olControlEditingToolbar div.olControlZoomToSquareItemInactive {
  background-image: url("../images/mnhnl-mod-toolbar.png");
  background-position: -100px 0px;
}

div.olControlEditingToolbar div.olControlZoomToCountryItemInactive {
  background-image: url("../images/mnhnl-mod-toolbar.png");
  background-position: -125px 0px;
}

div.olControlEditingToolbar div.olControlStartNewSiteItemInactive {
  background-image: url("../images/mnhnl-mod-toolbar.png");
  background-position: -150px 0px;
}
div.olControlEditingToolbar  {
    width: 350px;
}
#imp-srefX {
	width: 60px;
}
#imp-srefY {
	width: 60px;
}
#samples-grid td {
  padding: 2px;
  border: solid silver 1px;
}