.ui-accordion-header {
	padding: 4px;
}

label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
  width: 200px; /* Width of labels */
}
label {
  *display: inline;
}
#cc-2-flower-identify label {
  display: block;
  width: auto; /* Width of labels */
}
#cc-4-insect-identify label {
  display: block;
  width: auto; /* Width of labels */
}
#cc-2-floral-station label {
  width: auto; /* Width of labels */
}

#cc-4-insect-identify label .follow-on {
  display: inline-block;
}
#cc-4-insect-identify label .follow-on {
  *display: inline;
}
.poll-section {
  margin-top: 4px;
}

.poll-hide {
	position: absolute;
	left: -10000px;
}
	
.poll-help-button {
	padding-left: 10px;
	padding-right: 10px;
}
	
.poll-image {
  height: 240px;
  width: 320px;
  background-color:#878787;
  border:black thin solid;
}
.poll-latlong {
	display: inline-block;
}
.poll-latlong {
	*display: inline;
}

.poll-latlong input {
  width: 30px;
}

div#cc-1-summary {
  margin-top: 3px;
}

#cc-1-title-details {
  padding-left: 10px;
  padding-right: 10px;
}

#cc-1-protocol-details {
  border-right:white medium solid;
  border-left:white medium solid;
  padding-left: 10px;
  padding-right: 10px;
}

#cc-1-trailer-image {
  vertical-align: top;
  height: 50px;
  width: 50px;
  margin: 3px;
  border: #878787 thin solid;
}

.node-creer-une-collection #cc-1-trailer-image {
  border: none;
  width: auto;
  height: auto;
  text-align: center;
}

.node-creer-une-collection #cc-1-trailer {
  color: #999;
  font-size: 0.85em;
}

#page .node-creer-une-collection .poll-section-trailer {
      border:1px solid #D5D5D5;
      border-bottom:medium none;
      border-top:medium none;
      overflow:auto;
      padding:13px 15px;
      text-align: center;
}

.poll-map-container {
	float: left;
	padding-right: 20px;
	padding-bottom: 10px;
}

#cc-2-location-entry {
  border-left: #c0c0c0 3px solid;
  padding-left: 10px;
}

#cc-2-loc-description {
	clear: both;
}

.poll-break {
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color:#c0c0c0;
	height: 3px;
}
.latLongDiv{
	display: inline-block;
	width: 48%;
	margin-left: 1%;
	vertical-align: top;
}

.thumb {
  vertical-align: top;
  height: 50px;
  width: 50px;
  margin: 3px;
  border: #878787 thin solid;
  background-color:#878787;
  display: inline-block;
  position: relative;
}

.currentPhoto {
  border: red thin solid;
}

.photoReelContainer {
  border: black thin solid;
}

.loading {  background: transparent url(/misc/throbber.gif) no-repeat 0px -18px;}
.loading-button {  background: transparent url(/misc/throbber.gif) no-repeat 50% -18px  !important ;}

.thumb-image {
   width: 100%;
   height: 100%; /* for IE 6 */
}

.thumb-text {
   position: absolute;
   top: 0%;
   left: 30%;
   color: red;
   font-size: 35px;
}

.thumb {
  *display: inline;
}
#cc-1 div, #cc-1 label {
	*zoom: 1;
}