.ui-accordion-header {
	padding: 4px;
}

label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
  width: 200px; /* Width of labels */
}

#cc-2-flower-identify label {
  display: block;
  width: auto; /* Width of labels */
}
#cc-4-insect-identify label {
  display: block;
  width: auto; /* Width of labels */
}
#cc-2-floral-station label {
  width: auto; /* Width of labels */
}

.poll-section {
  margin-top: 4px;
}

.poll-hide {
	position: absolute;
	left: -10000px;
}

.poll-session-title {
  background-color:#c0c0c0;
  border-bottom:white thin solid;
}

.poll-session-form {
  border-bottom: #c0c0c0 3px solid;
  border-left: #c0c0c0 3px solid;
  padding-left: 10px;
  margin-bottom: 0px;
}
.poll-session-footer {
  margin-top: -2em;
}

.poll-image {
  height: 240px;
  width: 320px;
  background-color:#878787;
  border:black thin solid;
}
.poll-latlong {
	display: inline-block;
}

.poll-latlong input {
  width: 30px;
}

.radio-error, .required-error {
	color: red;
	width: auto;
	margin-left: 1em;
    margin-top: 0em;  
}

div#cc-1-summary {
  margin-top: 3px;
}

#cc-1-title-details {
  padding-left: 10px;
  padding-right: 10px;
}

#cc-1-protocol-details {
  border-right:white medium solid;
  border-left:white medium solid;
  padding-left: 10px;
  padding-right: 10px;
}

#cc-2-flower-picture,#cc-2-environment-picture,.poll-map-container,#cc-4-insect-picture {
	float: left;
	padding-right: 20px;
	padding-bottom: 10px;
}

#cc-2-location-entry {
  border-left: #c0c0c0 3px solid;
  padding-left: 10px;
}

#cc-2-loc-description {
	clear: both;
}

.poll-break {
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color:#c0c0c0;
	height: 3px;
}
	
.thumb {
  height: 50px;
  width: 50px;
  margin: 3px;
  border: #878787 thin solid;
  background-color:#878787;
  display: inline-block;
}

.currentPhoto {
  border: red thin solid;
}

.photoReelContainer {
  border: black thin solid;
}

.loading {  background: transparent url(../../../../../../../misc/throbber.gif) no-repeat 0px -18px;}

