*
{
  margin: 0;
  padding: 0;
}

body
{
  padding: 30px;
  font-size: 80%;
  font-family: Trebuchet MS, Helvetica, sans-serif;
}

p
{
  padding-bottom: 12px;
}

form {
  background: #eee;
  width: 724px;
  padding: 12px;
}

input, select, textarea {
  vertical-align: top;
}

label {
  width: 200px;
  display: inline-block;
  line-height: 1.9em;
  vertical-align: top;
}

p#addOccAttr {
  text-align: right;
  color: #D00002;
  cursor: pointer;
}

div#occAttr0 {
  display: none;
}

.instruct {
  width: 600px;
  color: #666666;
  font-size: 90%;
  border: 0;
  padding: 0;
}

#actaxa_taxon_list_id, #acdeterminer_id, #survey_id {
  width: 205px;
}

#outermap {
  margin-left: 205px;
  margin-bottom: 12px;
}

.wide {
  width: 400px;
}