<?php
/**
 * Indicia, the OPAL Online Recording Toolkit.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see http://www.gnu.org/licenses/gpl.html.
 *
 * @package	Notification Emails
 * @subpackage  Config
 * @author	Indicia Team
 * @license	http://www.gnu.org/licenses/gpl.html GPL
 * @link 	http://code.google.com/p/indicia/
 */
 
$config['system_name']='System name';
$config['email_subject']='You have new notifications.';
$config['how_to_address_username']='Dear';
$config['top_of_email_body']='You have the following new notifications.';
$config['email_sender_address']='sender@example.com';
$config['notifications_page_url']='http://example.com/my-notifications';
$config['notifications_page_url_text']='Click for notifications';

// same again but for pending check/moderation tasks
$config['record_details_page_urls'] = array(
  array('website_id' => 23, 'url' => 'http://www.brc.ac.uk/irecord/record-details?occurrence_id=#id#')
);