#species-hints {
  width: 100%;
  height: 75px;
  overflow: auto;
  border: solid silver 1px;
  font-size: 14px;
  background-color: #f6f2d6;
  -webkit-box-shadow: 2px 2px 2px 2px #d0d0d0;
  box-shadow: 2px 2px 2px 2px #d0d0d0;
}

.species-hint-label {
  font-weight: bold;
  line-height: 1.3em;
  margin-top: 0.3em;
}

.species-hint-content {
  margin-bottom: 0.3em;
}